<div class="container">
  <h2 [hidden]="editMode">Hero Form</h2>
  <form [formGroup]="heroForm" (submit)="onSubmit(heroForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" formControlName="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control"  id="power" formControlName="power">
        <option value=""> Select a power... </option>
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Adresses</label>
      <div [hidden]="newAddress">
        <div class="line">
          <div class="right">
            <button type="button" class="btn btn-success" (click)="newAddress=true">+</button>
          </div>
        </div>
      </div>
      <div class="inner-form" [hidden]="!newAddress"  formGroupName="address">
        <div class="line">
          <div class="col-1">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" formControlName="street">
          </div>
        </div>
        <div class="line">
          <div class="col-3 col-3-2">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>
          <div class="col-3">
            <label for="street">State</label>
            <select class="form-control"  id="state" formControlName="state">
              <option value=""> Select a state... </option>
              <option value="CA">CA</option>
              <option value="OH">OH</option>
              <option value="VA">VA</option>
            </select>
          </div>
        </div>
        <div class="line">
          <div class="col-2">
            <label for="zip">Zip Code</label>
            <input type="text" class="form-control" id="zip" formControlName="zip">
          </div>
          <div class="col-2 right">
            <button type="button" class="btn btn-success" (click)="addAddressToList(heroForm.value.address); newAddress=false;">Add</button>
            <button type="button" class="btn btn-danger" (click)="newAddress=false">Cancel</button>
          </div>
        </div>
      </div>
      <table class="table table-hover" *ngIf="heroModel.addresses && heroModel.addresses.length > 0">
        <thead>
        <tr>
          <th class="left">Street</th>
          <th class="center">City</th>
          <th class="center">State</th>
          <th class="right">Zip Code</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of heroModel.addresses; let i = index">
            <td class="left">{{address.street}}</td>
            <td class="center">{{address.city}}</td>
            <td class="center">{{address.state}}</td>
            <td class="right">{{address.zip}}</td>
            <td class="right"><button type="button" class="btn btn-danger" (click)="removeAddress(i)">x</button></td>
          </tr>
        </tbody>
      </table> 
    </div>
    <div [hidden]="editMode">
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.valid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="heroForm.reset()">Clear</button>
    </div>
    <div [hidden]="!editMode">
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.valid">Save</button>
      <button type="button" class="btn btn-danger" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ heroForm }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9 pull-left">{{ heroForm }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9 pull-left">{{ heroForm }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false; heroForm.reset();">Ok</button>
</div>